.profile {
  padding: 50px 16px;
}

.profileImg-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editProfile {
  color: #eff3f4;
  font-size: 15px;
  border: 1px solid rgb(83, 100, 113);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0 16px;
  height: 36px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.profileDisplay {
  margin: 30px 0;
}

.displayName span {
  font-family: inherit;
  color: rgb(231, 233, 234);
  font-weight: 800;
  line-height: 24px;
  font-size: 24px;
}

.username {
  margin-top: 10px;
}

.username span {
  font-family: inherit;
  color: rgb(113, 118, 123);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
