.postSection {
  /* 600 123 */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.postArena {
  /* padding: 0 16px 4px 16px; */
  /* border-right: 1px solid #b8a9a98f; */
  border-bottom: 1px solid #b8a9a98f;
}

.postTitle {
  background-color: transparent;
  width: -webkit-fill-available;
  height: 30px;
  border: none;
  border-bottom: 1px solid #b8a9a98f;
  padding: 5px 20px;
  outline: none;
  color: #ffffff;
}

.postText {
  /* border-top: 1px solid #b8a9a98f;
      border-bottom: 1px solid #b8a9a98f; */
  background: transparent;
  width: -webkit-fill-available;
  padding: 30px 20px;
  height: 50px;
  resize: none;
  outline: none;
  border: none;
  color: #ffffff;
}

.postComment {
  /* border-top: 1px solid #b8a9a98f;
      border-bottom: 1px solid #b8a9a98f; */
  background: transparent;
  width: -webkit-fill-available;
  padding: 30px 20px;
  height: 50px;
  resize: none;
  outline: none;
  border: none;
  color: #ffffff;
}

.postBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.postBtn button {
  background-color: rgb(29, 155, 240);
  /* opacity: 0.5; */
  margin: 0px 0px 0px 12px;
  padding: 0px 16px;
  color: #fff;
  width: 77.86px;
  height: 36px;
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.blogPost {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-bottom: 1px solid #b8a9a98f;
}

.postAction {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.pointer {
  cursor: pointer;
}

.loadMore {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.loadMoreBtn {
  background-color: rgb(29, 155, 240);
  padding: 16px 32px;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}
