body {
  background: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.app {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 275px;
  padding: 16px;
}

.header-link {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 0;
  margin: 0 50px;
}

.header-link:last-child {
  margin-top: 30px;
}

.main {
  border-right: 1px solid #b8a9a98f;
  border-left: 1px solid #b8a9a98f;
  height: 100vh;
  overflow-y: auto;
  width: 700px;
}
